morpheus/.vscode/*
morpheus/build/*
morpheus/build/.ninja_deps
morpheus/build/.ninja_log
morpheus/build/DefaultGame.txt
morpheus/build/engine
morpheus/build/CMakeFiles/CMakeOutput.log
morpheus/build/CMakeFiles/engine.dir/Core/coreCommon.cpp.o
morpheus/build/Testing/TAG
morpheus/build/Testing/20220322-2140/Test.xml
morpheus/build/Testing/Temporary/CTestCostData.txt
morpheus/build/Testing/Temporary/LastTest_20220322-2140.log
morpheus/build/libBud/libBud.a
morpheus/build/libBud/CMakeFiles/Bud.dir/cmake_pch.hxx.gch
morpheus/build/libBud/CMakeFiles/Bud.dir/cmake_pch.hxx.pch
morpheus/build/libBud/CMakeFiles/Bud.dir/CommandLink.cpp.o
morpheus/build/libBud/CMakeFiles/Bud.dir/Parser.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/Base64.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/BitMsg.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/CmdArgs.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/CommandLink.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/Dict.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/Heap.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/LangDict.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/Lexer.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/Lib.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/MapFile.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/ParallelJobList.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/Parser.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/precompiled.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/RectAllocator.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/SoftwareCache.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/Str.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/Thread.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/Timer.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/Token.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/bv/Bounds.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/bv/Box.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/bv/Sphere.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/containers/HashIndex.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/geometry/DrawVert.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/geometry/JointTransform.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/geometry/RenderMatrix.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/geometry/Surface_Patch.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/geometry/Surface_Polytope.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/geometry/Surface_SweptSpline.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/geometry/Surface.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/geometry/TraceModel.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/geometry/Winding.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/geometry/Winding2D.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/hashing/CRC32.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/hashing/MD4.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/hashing/MD5.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/math/Angles.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/math/Complex.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/math/Lcp.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/math/Math.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/math/Matrix.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/math/MatX.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/math/Ode.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/math/Plane.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/math/Pluecker.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/math/Polynomial.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/math/Quat.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/math/Rotation.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/math/Simd_Generic.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/math/Simd_SSE.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/math/Simd.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/math/Vector.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/math/VecX.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/sys/sys_assert.cpp.o
morpheus/build/libBud/CMakeFiles/libBud.dir/sys/posix/posix_thread.cpp.o
morpheus/.vscode/settings.json
morpheus/a.out
